<%- include("./partials/header.ejs") -%>

<h1>Home</h1>
<% for (let i = 0; i < posts.length; i++) {%>
    <h2><%=posts[i].heading%></h2>

    <p class="line-clamp-4"><%=posts[i].content%></p>
    <a href="#" onclick="createPost()">
        Read More...
    </a>
<% }%>

<%- include("./partials/footer.ejs") -%>
