<%- include("./partials/header.ejs") -%>
<h1>Home</h1>
<% posts.forEach(function(post){%>
    <h2><%=post.heading%></h2>

    <p class="line-clamp-4"><%=post.content%></p>
    <a href="#" onclick="createPost()">
        Read More...
    </a>
<% }%>


<% } %> <%- include("./partials/footer.ejs") -%>
